<div class="footer gutter">

    <p>&copy; @DateTime.Today.Year Nintendo</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porttitor, eros in luctus molestie, augue mi blandit felis, vel consequat nisi augue sed turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vitae dui velit. Nulla facilisi. Suspendisse quis urna nec lectus maximus dapibus tempor vitae orci. Nam a felis vel augue ultricies interdum sed id ante. Fusce vitae augue euismod, dictum purus ut, tincidunt ante. In hac habitasse platea dictumst. Cras vel consectetur felis. Nunc aliquam sapien vestibulum dapibus vehicula. Integer vehicula eget velit ut pretium. Quisque laoreet metus pretium, pretium justo id, euismod enim. Morbi sodales pharetra tincidunt.</p>

    <p>Phasellus sagittis, tortor nec consequat ultricies, lacus metus venenatis est, ut faucibus odio erat eu massa. Integer euismod neque malesuada ex pulvinar interdum. Phasellus sed pretium mi, sit amet tincidunt ex. Sed vitae leo neque. Nulla nec leo nec eros interdum fringilla. Maecenas porttitor arcu sit amet suscipit consequat. Nam sapien est, pellentesque eu ante ac, ullamcorper scelerisque massa. Fusce lorem risus, efficitur ac dolor et, aliquam ultricies nunc. Cras ut blandit libero. Nullam ex justo, dignissim sit amet neque ac, ornare vehicula dolor. Maecenas id gravida orci. Aenean lacinia augue vel tempor fringilla. Cras mauris erat, vestibulum vitae malesuada at, luctus non magna. Donec purus nisi, efficitur non massa quis, ullamcorper efficitur ligula.</p>

</div>